* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  height: 40px;
  width: 100px;
  margin-top: 50px;
}

.square {
  height: 400px;
  width: 400px;
  border: solid 2px black;
  margin-top: 100px;
}
